<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Bank</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>5</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>com.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/registerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BankerLoginController</display-name>
    <servlet-name>BankerLoginController</servlet-name>
    <servlet-class>com.BankerLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankerLoginController</servlet-name>
    <url-pattern>/bankerLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayeeOperationsController</display-name>
    <servlet-name>PayeeOperationsController</servlet-name>
    <servlet-class>com.PayeeOperationsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayeeOperationsController</servlet-name>
    <url-pattern>/payeeOperations</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPayeeController</display-name>
    <servlet-name>AddPayeeController</servlet-name>
    <servlet-class>com.AddPayeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPayeeController</servlet-name>
    <url-pattern>/addPayeeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BeginController</display-name>
    <servlet-name>BeginController</servlet-name>
    <servlet-class>com.BeginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeginController</servlet-name>
    <url-pattern>/beginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymetController</display-name>
    <servlet-name>PaymetController</servlet-name>
    <servlet-class>com.PaymetController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymetController</servlet-name>
    <url-pattern>/paymetController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAccountController</display-name>
    <servlet-name>AddAccountController</servlet-name>
    <servlet-class>com.AddAccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAccountController</servlet-name>
    <url-pattern>/addAccountController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InitialCheck</display-name>
    <servlet-name>InitialCheck</servlet-name>
    <servlet-class>com.InitialCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitialCheck</servlet-name>
    <url-pattern>/initialCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Statement</display-name>
    <servlet-name>Statement</servlet-name>
    <servlet-class>com.Statement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Statement</servlet-name>
    <url-pattern>/genStatement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecurityQuestion</display-name>
    <servlet-name>SecurityQuestion</servlet-name>
    <servlet-class>com.SecurityQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecurityQuestion</servlet-name>
    <url-pattern>/security</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>com.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/passwordChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PdfController</display-name>
    <servlet-name>PdfController</servlet-name>
    <servlet-class>com.PdfController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PdfController</servlet-name>
    <url-pattern>/pdfController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePayee</display-name>
    <servlet-name>DeletePayee</servlet-name>
    <servlet-class>com.DeletePayee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePayee</servlet-name>
    <url-pattern>/deletePayee1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatementPeriod</display-name>
    <servlet-name>StatementPeriod</servlet-name>
    <servlet-class>com.StatementPeriod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatementPeriod</servlet-name>
    <url-pattern>/statementPeriod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordController</display-name>
    <servlet-name>ForgotPasswordController</servlet-name>
    <servlet-class>com.ForgotPasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordController</servlet-name>
    <url-pattern>/forgotPasswordController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CloseAccount</display-name>
    <servlet-name>CloseAccount</servlet-name>
    <servlet-class>com.CloseAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloseAccount</servlet-name>
    <url-pattern>/closeAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinallyClose</display-name>
    <servlet-name>FinallyClose</servlet-name>
    <servlet-class>com.FinallyClose</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinallyClose</servlet-name>
    <url-pattern>/finalClose</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyController</display-name>
    <servlet-name>ModifyController</servlet-name>
    <servlet-class>com.ModifyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyController</servlet-name>
    <url-pattern>/modifyController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PhoneController</display-name>
    <servlet-name>PhoneController</servlet-name>
    <servlet-class>com.PhoneController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhoneController</servlet-name>
    <url-pattern>/phoneController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailController</display-name>
    <servlet-name>EmailController</servlet-name>
    <servlet-class>com.EmailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailController</servlet-name>
    <url-pattern>/emailController</url-pattern>
  </servlet-mapping>
</web-app>